body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    height: 100vh;
    overflow-y: scroll;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

header nav {
    float: right;
    display: flex;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1.2em;
}

header nav a:hover {
    text-decoration: underline;
    color: #ffcccc;
}

main {
    padding: 20px;
    margin-top: 70px;
}

section {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    margin-top: 20px;
}

/* CSS styles for the section */
#about {
    padding: 50px;
}

#about h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: #fff;
}

.about-content {
    display: flex;
    align-items: center;
}

.about-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url('https://media.licdn.com/dms/image/C4D03AQHGtiMTGfWTPA/profile-displayphoto-shrink_400_400/0/1663838601353?e=1680739200&v=beta&t=88vJ3EQN_Mpk9nuQvjUBf1RbeR34bC90a8tJ0hmAd80');
    background-size: cover;
    margin-right: 40px;
    border: 10px solid #fff;
    background-repeat: no-repeat;
}


.about-text {
    flex: 1;
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
}

/* GitHub logo */
.github-logo {
    width: 50px;
    height: 50px;
    background-image: url('https://your-github-logo-url.com/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    
    .github-logo:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: translate3d(0,-10px,0);
    }
    
    /* Linkedin logo */
    .linkedin-logo {
    width: 50px;
    height: 50px;
    background-image: url('https://your-linkedin-logo-url.com/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    
    .linkedin-logo:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: translate3d(0,-10px,0);
    }